doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Images - Happy Anniversary Alexandre v25 zbeul edition Theme

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Simple line icons
        link(href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Alexandre v25 zbeul edition)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav.navbar.navbar-light.bg-light.static-top
            .container
                a.navbar-brand(href='index.html') Main menu
                a.btn.btn-primary(href='https://fr.wikipedia.org/wiki/ACAB') ACAB ╭∩╮（︶_︶）╭∩╮

        // Masthead
        header.masthead.masthead-meije.text-white.text-center
            .overlay
            .container
                .row
                    .col-xl-9.mx-auto
                        h1.mb-5 Waaaaaaaaaaaaaaaaaaaaaaaaaaaaa ;)
        
        // Image Showcases
        section.showcase
            .row.no-gutters
                .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/fonsde-toute-la-night.jpg');")
                .col-lg-6.my-auto.showcase-text
                    h2 Alexandre v25 zbeul edition 4 - Update fonsdé
                    p.lead.mb-0
                        | Recently high, and newly sober, Alexander v25 is riding, isn't it ?
            .row.no-gutters
                .col-lg-6.my-auto.showcase-text
                    h2 Level 1
            .row.no-gutters
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/mdr-sleep.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/sad.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/sad.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/sad.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/sad.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/sad.jpg');")
            .row.no-gutters
                .col-lg-6.my-auto.showcase-text
                    h2 Level 2
            .row.no-gutters
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/alex-thinking.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/alex-nerd.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/alex-thinking.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/alex-thinking.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/alex-thinking.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/alex-thinking.jpg');")
            .row.no-gutters
                .col-lg-6.my-auto.showcase-text
                    h2 Level 3
            .row.no-gutters
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/AlexHide.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/AlexHide.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/alex-flex.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/AlexHide.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/AlexHide.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/AlexHide.jpg');")
            .row.no-gutters
                .col-lg-6.my-auto.showcase-text
                    h2 Level 4
            .row.no-gutters
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/chips.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/chips.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/chips.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/RappelFull.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/chips.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/chips.jpg');")
            .row.no-gutters
                .col-lg-6.my-auto.showcase-text
                    h2 Level 5
            .row.no-gutters
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/alex-pilou.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/alex-pilou.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/alex-pilou.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/alex-pilou.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/beer1.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/alex-pilou.jpg');")
            .row.no-gutters
                .col-lg-6.my-auto.showcase-text
                    h2 Level 6
                    h3 You're not ready 
            .row.no-gutters
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/Alex-dab.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/Alex-dab.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/Alex-dab.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/Alex-dab.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/Alex-dab.jpg');")
                .col-lg-2.text-white.showcase-img(style="background-image: url('assets/img/alex-funny.jpg');")
            .row.no-gutters
                .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/double-facepalm.jpg');")
                .col-lg-6.my-auto.showcase-text
                    h2 Alexandre v25 zbeul edition 4 - Update bourré
                    p.lead.mb-0
                        | Double facepalm, love it !!!  
        // Footer
        footer.footer.bg-light
            .container
                .row
                    .col-lg-6.h-100.text-center.text-lg-left.my-auto
                        ul.list-inline.mb-2
                            li.list-inline-item
                                a(href='https://fr.wikipedia.org/wiki/ACAB') A
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='https://fr.wikipedia.org/wiki/ACAB') C
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='https://fr.wikipedia.org/wiki/ACAB') A
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='https://fr.wikipedia.org/wiki/ACAB') B
                        p.text-muted.small.mb-4.mb-lg-0 © Mes grosses couilles. All Rights Reserved.
                    .col-lg-6.h-100.text-center.text-lg-right.my-auto
                        ul.list-inline.mb-0
                            li.list-inline-item.mr-3
                                a(href='https://fr.wikipedia.org/wiki/ACAB')
                                    i.fab.fa-facebook.fa-2x.fa-fw
                            li.list-inline-item.mr-3
                                a(href='https://fr.wikipedia.org/wiki/ACAB')
                                    i.fab.fa-twitter-square.fa-2x.fa-fw
                            li.list-inline-item
                                a(href='https://fr.wikipedia.org/wiki/ACAB')
                                    i.fab.fa-instagram.fa-2x.fa-fw

        // Alexandre v25 zbeul edition core JS
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')