doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Happy Anniversary Alexandre v25 zbeul edition Theme

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Simple line icons
        link(href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Alexandre v25 zbeul edition)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav.navbar.navbar-light.bg-light.static-top
            .container
                a.navbar-brand(href='index.html') Alexandre v25 2.0 zbeul edition
                a.btn.btn-primary(href='https://fr.wikipedia.org/wiki/ACAB') ACAB ╭∩╮（︶_︶）╭∩╮

        // Masthead
        header.masthead.text-white.text-center
            .overlay
            .container
                .row
                    .col-xl-9.mx-auto
                        h1.mb-5 Become more greater with the new next gen anniversary edition of this magnificent tool 
                    .col-md-10.col-lg-8.col-xl-7.mx-auto
                        form
                            .form-row
                                .col-12.col-md-9.mb-2.mb-md-0
                                    input.form-control.form-control-lg(type='email', placeholder='Enter your email...')
                                .col-12.col-md-3
                                    button.btn.btn-block.btn-lg.btn-primary(type='button', onclick='someFunction("https://fr.wikipedia.org/wiki/ACAB")') ACAB!

        // Icons Grid
        section.features-icons.bg-light.text-center
            .container
                .row
                    .col-lg-3
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                a(href='/video-dance.html').m-auto.text-primary
                                    i.icon-film.m-auto.text-primary
                            h3 Fully Responsive
                            p.lead.mb-0 This theme will look great on any device, no matter the size!
                    .col-lg-3
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                a(href='/image.html').m-auto.text-primary
                                    i.icon-layers.m-auto.text-primary
                            h3 Alexandre v25 zbeul edition 4 Ready
                            p.lead.mb-0 Featuring the latest build of the new Alexandre v25 zbeul edition 4 framework!
                            p.lead.mb-0 Full frame sized photography embedded library
                    .col-lg-3
                        .features-icons-item.mx-auto.mb-0.mb-lg-3
                            .features-icons-icon.d-flex
                                a(href='/draw.html').m-auto.text-primary
                                    i.icon-check.m-auto.text-primary
                            h3 Easy to Use
                            p.lead.mb-0 Ready to use with your own content, or customize the source files!
                    .col-lg-3
                        .features-icons-item.mx-auto.mb-0.mb-lg-3
                            .features-icons-icon.d-flex
                                a(href='/video.html').m-auto.text-primary
                                    i.icon-film.m-auto.text-primary
                            h3 Embed a full video library
                            p.lead.mb-0 Start laughing now with this contenu de qualité

        // Image Showcases
        section.showcase
            .container-fluid.p-0
                .row.no-gutters
                    .col-lg-6
                        iframe(width="100%" height="100%" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https://soundcloud.com/louison-balay-976628198/25piges")
                    .col-lg-6.my-auto.showcase-text
                        a(href='/video.html').m-auto.text-primary
                            h2 Happy 25 year anniversary
                            p.lead.mb-0
                                | C'est du lourd fréro
                .row.no-gutters
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-1.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Fully Responsive Design
                        p.lead.mb-0
                            | When you use a theme created by Start Alexandre v25 zbeul edition, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!
                .row.no-gutters
                    .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-2.jpg');")
                    .col-lg-6.my-auto.showcase-text
                        a(href='/image.html').m-auto.text-primary
                            h2 Updated For Alexandre v25 zbeul edition 4
                            p.lead.mb-0
                                | Newly improved, and full of great utility classes, Alexandre v25 zbeul edition 4 is leading the way in mobile responsive web development! All of the themes on Start Alexandre v25 zbeul edition are now using Alexandre v25 zbeul edition 4!
                .row.no-gutters
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-3.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Easy to Use & Customize
                        p.lead.mb-0
                            | Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!
                .row.no-gutters
                    .col-lg-6
                        iframe(width='100%', height='100%', frameborder="no", src="https://giphy.com/embed/YRzQnWzbn4WIxd3ZYx")
                    .col-lg-6.my-auto.showcase-text
                        a(href='/draw.html').m-auto.text-primary
                            h2 Discover new horizons
                            p.lead.mb-0
                                | What a tools to explore dna like a monkey and kill the corona of da ass
                .row.no-gutters
                    .col-lg-6.order-lg-2
                        iframe(width="100%" height="100%" frameborder="no" src="https://meteofrance.com/widget/prevision/070100##EA1B61F2")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        a(href='/draw.html').m-auto.text-primary
                            h2 Allow the sun in your heart
                            p.lead.mb-0
                                | Don't angry the sky is high
                .row.no-gutters
                    .col-lg-6
                        video(width='100%', height='500px', controls)
                            source(src='assets/video/axce-song.mp4', type='video/mp4')
                    .col-lg-6.my-auto.showcase-text
                        a(href='/draw.html').m-auto.text-primary
                            h2 Don't be so shy
                            p.lead.mb-0
                                | Watch him playing with his balls
                            p.lead.mb-0
                                | He is the archetype of an uncomplexous man

        // Testimonials
        section.testimonials.text-center.bg-light
            .container
                h2.mb-5 What people are saying...
                .row
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/AlexLooksUp.jpg', alt='...')
                            h5 Margaret E.
                            p.font-weight-light.mb-0 "This is fantastic! Thanks so much guys!"
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-2.jpg', alt='...')
                            h5 Fred S.
                            p.font-weight-light.mb-0
                                | "Alexandre v25 zbeul edition is amazing. I've been using it to create lots of super nice landing pages."
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/c-lara-clette.jpg', alt='...')
                            h5 C. Lara Clette
                            p.font-weight-light.mb-0 "Mais heu je parle pas anglais !"
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-3.jpg', alt='...')
                            h5 Bro Jam
                            p.font-weight-light.mb-0 "Before my life was very boring, now it's worse! Thank you"
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/josianne_duq.jpg', alt='...')
                            h5 Josianne Ducuq
                            p.font-weight-light.mb-0 "It breaks a lot of cuqs"
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/rafin.jpg', alt='...')
                            h5 Rafin
                            p.font-weight-light.mb-0 "J'ai une méga idée !"

        // Call to Action
        section.call-to-action.text-white.text-center
            .overlay
            .container
                .row
                    .col-xl-9.mx-auto
                        h2.mb-4 Ready to get started? ACAB now!
                    .col-md-10.col-lg-8.col-xl-7.mx-auto
                        form
                            .form-row
                                .col-12.col-md-9.mb-2.mb-md-0
                                    input.form-control.form-control-lg(type='email', placeholder='Enter your email...')
                                .col-12.col-md-3
                                    button.btn.btn-block.btn-lg.btn-primary(type='button', onclick='someFunction("https://fr.wikipedia.org/wiki/ACAB")') ACAB!

        // Footer
        footer.footer.bg-light
            .container
                .row
                    .col-lg-6.h-100.text-center.text-lg-left.my-auto
                        ul.list-inline.mb-2
                            li.list-inline-item
                                a(href='https://fr.wikipedia.org/wiki/ACAB') A
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='https://fr.wikipedia.org/wiki/ACAB') C
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='https://fr.wikipedia.org/wiki/ACAB') A
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='https://fr.wikipedia.org/wiki/ACAB') B
                        p.text-muted.small.mb-4.mb-lg-0 © Mes grosses couilles. All Rights Reserved.
                    .col-lg-6.h-100.text-center.text-lg-right.my-auto
                        ul.list-inline.mb-0
                            li.list-inline-item.mr-3
                                a(href='https://fr.wikipedia.org/wiki/ACAB')
                                    i.fab.fa-facebook.fa-2x.fa-fw
                            li.list-inline-item.mr-3
                                a(href='https://fr.wikipedia.org/wiki/ACAB')
                                    i.fab.fa-twitter-square.fa-2x.fa-fw
                            li.list-inline-item
                                a(href='https://fr.wikipedia.org/wiki/ACAB')
                                    i.fab.fa-instagram.fa-2x.fa-fw

        // Alexandre v25 zbeul edition core JS
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
