doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Videos - Happy Anniversary Alexandre v25 zbeul edition Theme

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Simple line icons
        link(href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Alexandre v25 zbeul edition)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav.navbar.navbar-light.bg-light.static-top
            .container
                a.navbar-brand(href='index.html') Main menu
                a.btn.btn-primary(href='https://fr.wikipedia.org/wiki/ACAB') Sign In

        // Masthead
        header.masthead.masthead2.text-white.text-center
            .overlay
            .container
                .row
                    .col-xl-9.mx-auto
                        h1.mb-5 An amazing content is awaiting you 
        
        // Video Showcases
        section.showcase
            .container-fluid.p-0
                .row.no-gutters
                    .col-lg-4
                        iframe(width='100%', height='500px', frameborder="no", src="assets/video/guitare_LOU-ALEX.mp4")
                    .col-lg-4.my-auto.showcase-text
                        h2 Everyday better with incredibly increasing skill in many fields
                        p *Mes grosses couilles*
                    .col-lg-4
                        iframe(width='100%', height='500px', frameborder="no", src="assets/video/mesgrossescouilles.mp4")
            .container-fluid.p-0
                .row.no-gutters
                    .col-lg-4.my-auto.showcase-text
                        h2 Always have the right word
                    .col-lg-4
                        iframe(width='100%', height='500px', frameborder="no", src="assets/video/ahbahbravo.mp4")
                    .col-lg-4.my-auto.showcase-text
                        h2 Ah bah c'est le moment Alexandre il pleut
            .container-fluid.p-0
                .row.no-gutters
                    .col-lg-4
                        iframe(width='100%', height='500px', frameborder="no", src="assets/video/LouAlexWARENSEMBLE.mp4")
                    .col-lg-4.my-auto.showcase-text
                        h2 Bring it to war, hope it helps !!!
                        